extends ../templates/layout

block content
  form(action='/post', method='POST', enctype="multipart/form-data")
    label(for='text') Message:
    input(name='text')
    label(for='image') Upload Image:
    input(type='file' name='image' accept="image/*")
    input(type='submit')

  ul
    each post in posts
      li
        a(href='/post/' + post._id)= post.text
