extends ../templates/layout

block content
  form(action='/post', method='POST')
    input(name='text')
    input(type='submit')

  div(ng-controller="PostCtrl as post")
    ul
      li(ng-repeat="p in post.data")
        a(href='/post/{{p._id}}') {{p.text}}
